/packages/
/App.Admin/bin/
/App.BLL/bin/
/App.Common/bin/
/App.Core/bin/
/App.DAl/bin/
/App.IDAL/bin/
/App.IBLL/bin/
/App.BLL/bin/
/App.Models/bin/
/App.Admin/obj/
/App.BLL/obj/
/App.Common/obj/
/App.Core/obj/
/App.DAl/obj/
/App.IDAL/obj/
/App.IBLL/obj/
/App.BLL/obj/
/App.Models/obj/
